<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SurfHouse</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
<div>
    <a href="http://localhost:8080/memshop">
        <img src="images/memshop1.png" alt="memshop1">
    </a>
    <div class="BigContent">
        <div class="content">
            <div class="menu">
                <div id="menucaption"><p>Menu</p></div>
                <a class="menuitem" th:each="el : ${map}" th:href="@{'/memes/' + ${el.key.name}}">
                    <div class="menuitem">
                        <p th:text="${el.key.name}"></p>
                    </div>
                </a>
                <a th:href="@{/memTypeList}">
                    <div class="menuitem"><p>Admin</p></div>
                </a>
            </div>
            <div class="products">
                <div class="newproducts" th:each="element : ${map}">
                    <div id="newproducts_caption">
                        <p th:text="${element.key.name}"></p>
                    </div>
                    <div>
                        <div class="product" th:each="mem : ${element.value}"
                             th:attr="onclick=|window.location.href='http://localhost:8080/mem/' + ${mem.id}|">
                            <img th:src="@{'/images/' + ${mem.imagePath}}" height="80%" width="100%">
                            <div class="product_name" th:text="${mem.name}">
                            </div>
                            <div class="product_price">
                                &euro; <span th:text="${mem.price}"></span><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>