<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form th:action="@{/login}" method="POST">
    <div>
        <h1>Login</h1>
        <p>Please fill in this form to log in account.</p>
        <hr>

        <label for="username"><b>Username</b></label>
        <input type="text" id="username" name="username" placeholder="Enter username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <hr>

        <button type="submit" class="registerbtn">Login</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="registration.html" th:href="@{/registration}">Registration</a>.</p>
    </div>
</form>
</body>
</html>
