<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SurfHouse - Product</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div>
    <a href="http://localhost:8080/memshop">
        <img th:src="@{/images/memshop1.png}" alt="memshop1">
    </a>
    <div class="headerProduct">
        <div class="icons">
            <a href=""><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="BigContentProduct">
        <div class="content">
            <div class="menu">
                <div id="menucaption"><p>Menu</p></div>
                <a class="menuitem" th:each="el : ${typeList}" th:href="@{'/memes/' + ${el.name}}">
                    <div class="menuitem">
                        <p th:text="${el.name}"></p>
                    </div>
                </a>
                <a th:href="@{/memTypeList}">
                    <div class="menuitem"><p>Admin</p></div>
                </a>
            </div>
            <div class="productsProduct">
                <div class="newproductsProduct">
                    <div id="newproducts_caption">
                        <p th:text="${mem.name}"></p>
                    </div>
                    <div>
                        <div class="product">
                            <img class="foto" th:src="@{'/images/' + ${mem.imagePath}}" alt="">
                            <div class="product_name">
                                <span th:text="${mem.name}"></span>
                            </div>
                            <div class="product_price">
                                &euro; <span th:text="${mem.price}"></span><br>
                            </div>
                        </div>
                        <form th:action="@{'/buy/' + ${mem.id}}" method="post">
                            <input type="hidden" id="username" name="username" th:value="'Qwe'"/>
                            <button type="submit" class="buy">
                                Buy now
                            </button>
                        </form>
                        <p th:text="'Quantity: ' + ${mem.quantity}"></p>
                    </div>
                </div>
                <div class="topproductsProduct">
                    <div id="topproductsProduct_caption">
                        <p>Description</p>
                    </div>
                    <div>
                        <p id="description" th:text="${mem.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>