<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">-->
<!--    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <style>-->
<!--        html, body, h1, h2, h3, h4, h5 {-->
<!--            font-family: "Open Sans", sans-serif-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/profile/money}" th:object="${user}" method="post">-->
<!--    <div class="w3-card w3-round w3-white" style="width: 300px;height: 300px;">-->
<!--        <div class="w3-container" style="width: 300px;height: 300px;">-->
<!--            <h4 class="w3-center" th:text="${user.username}"></h4>-->
<!--            <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px"-->
<!--                                      alt="Avatar"></p>-->
<!--            <hr>-->
<!--            <p>-->
<!--                Account balance: <p th:text="${user.accountBalance}"></p>-->
<!--            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>-->
<!--            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <!--    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">-->
    <link rel="stylesheet" th:href="@{'https://www.w3schools.com/w3css/4/w3.css'}">
    <link rel="stylesheet" th:href="@{'https://www.w3schools.com/lib/w3-theme-blue-grey.css'}">
    <link rel='stylesheet' th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans'}">
    <link rel="stylesheet"
          th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'}">
</head>
<body>
<div>
    <a href="http://localhost:8080/memshop">
        <img th:src="@{'/images/memshop1.png'}" alt="" src="images/memshop1.png">
    </a>
    <div class="BigContent">
        <div class="content">
            <form th:action="@{/profile/money}" th:object="${user}" method="post">
                <div class="menu" >
                    <div style="width: 300px;height: 300px;">
                        <h4 class="w3-center" th:text="${user.username}"></h4>
                        <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle"
                                                  style="height:106px;width:106px"
                                                  alt="Avatar"></p>
                        <hr>
                        <p th:text="'Account balance: ' + ${user.accountBalance}"></p>
                        <p th:text="'Quantity mems:' + ${user.getMemesQuantity()}"></p>
                    </div>
                </div>
            </form>
            <div class="products">
                <div class="newproducts">
                    <div id="newproducts_caption">
                        <p th:text="'My memes'"></p>
                    </div>
                    <div>
                        <div class="product" th:each="mem : ${user.boughtMems}"
                             th:attr="onclick=|window.location.href='http://localhost:8080/mem/' + ${mem.id}|">
                            <img th:src="@{'/images/' + ${mem.imagePath}}" height="80%" width="100%">
                            <div class="product_name" th:text="${mem.name}">
                            </div>
                            <div class="product_price">
                                &euro; <span th:text="${mem.price}"></span><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
