<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form th:action="@{/registration}" method="POST">
    <div>
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="username"><b>Username</b></label>
        <input type="text" id="username" name="username" placeholder="Enter username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <label for="confirm-password"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="confirm-password" id="confirm-password" required>
        <hr>

        <button type="submit" class="registerbtn">sigh up</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="login.html" th:href="@{/login}">Log in</a>.</p>
    </div>
</form>
</body>
</html>
